In [1]:
import mysql.connector as connection

In [2]:
mydb = connection.connect(
    host="localhost",
    user="root",  #Your Username
    password="PASSWORD", #Your Password
    database="pysql" #Your Database Name, If you don't have any database, create one
)

if mydb.is_connected():
   print("succesfully connected")
else:
   print("not connected")    

mycursor = mydb.cursor()

succesfully connected

In [3]:
mycursor.execute("drop table if exists empl")
mycursor.execute("create table empl(eno varchar(5),ename varchar(50),salary int)")
mycursor.execute("describe empl")
for i in mycursor:
   print(i)

('eno', b'varchar(5)', 'YES', '', None, '')
('ename', b'varchar(50)', 'YES', '', None, '')
('salary', b'int', 'YES', '', None, '')

In [4]:
sql_query = "insert into empl values('e1','Akash',1000),('e2','Dinesh',2000),('e3','Ashwin',3000)"
mycursor.execute(sql_query)
mycursor.execute("commit")

In [5]:
# Updating
mycursor.execute("update empl set salary = 3000 where eno = 'e1'")
mycursor.execute("commit")

In [6]:
# Delete Record
mycursor.execute("delete from empl where eno='e1'")
mycursor.execute("commit")

In [7]:
mycursor.execute("select * from empl")
for i in mycursor:
   print(i)

('e2', 'Dinesh', 2000)
('e3', 'Ashwin', 3000)

In [8]:
mycursor.execute("show tables")
for i in mycursor:
   print(i)

('empl',)

In [9]:
mycursor.execute("drop table empl")
for i in mycursor:
   print(i)

In [11]:
# insert values in table
mycursor.execute("drop table if exists empl")
mycursor.execute("create table empl(eno varchar(5),ename varchar(50),salary int)")
mycursor.execute("describe empl")
for i in mycursor:
   print(i)

sql_query = "insert into empl values('e1','Akash',1000),('e2','Dinesh',2000),('e3','Ashwin',3000)"
mycursor.execute(sql_query)
mycursor.execute("commit")

('eno', b'varchar(5)', 'YES', '', None, '')
('ename', b'varchar(50)', 'YES', '', None, '')
('salary', b'int', 'YES', '', None, '')

In [12]:
# display all records of empl

eno = input("enter eno: ") # User Input

query = "select * from empl " + "where eno = '" + eno + "'"
print(query)
mycursor.execute(query)
for i in mycursor:
   print(i)

enter eno: e1
select * from empl where eno = 'e1'
('e1', 'Akash', 1000)

In [13]:
# Set Column ‘eno’ is the Primary key
mycursor.execute("ALTER TABLE empl ADD PRIMARY KEY (eno)")
mycursor.execute("describe empl")

In [15]:
# to display all the records of empl table. 
# Use “fetchall()” method of the cursor object.

mycursor.execute("select * from empl")
result = mycursor.fetchall()
for i in result:         
    print(i)

InternalError: Unread result found